/* Content Area */

.action-bar {
    padding-bottom: 2em;
    font-size: 85%;
}
.action-bar label, .action-bar select {
    margin-right: 0.5em;
}

.info {
    font-size: 10pt;
    color: #0D5995;
    padding-bottom: 10px;
    padding-left: 10px;
}

.chart {
    height: 500px;
}