#dc_jqaccordion_widget-7-item {font: normal 0.8em Roboto,Tahoma; border-top: 1px solid #ccc; border-right: 1px solid #ccc; border-left: 1px solid #ccc;}
#dc_jqaccordion_widget-7-item ul, #dc_jqaccordion_widget-7-item ul li {margin: 0; padding: 0; border: none;}
#dc_jqaccordion_widget-7-item ul a {padding: 10px 10px 10px 50px; background: #ececec; text-decoration:none; display: block; color: #333; border-bottom: 1px solid #ccc; border-top: 1px solid #fff; position: relative;}
#dc_jqaccordion_widget-7-item ul a.dcjq-parent, #dc_jqaccordion_widget-7-item ul a.dcjq-parent:hover {font-weight: normal; background: #D7D4D4 url(skins/images/bg_grey.png) repeat-x 0 -1px;}
#dc_jqaccordion_widget-7-item ul a .dcjq-icon {position: absolute; top: 50%; left: 14px; width: 34px; margin-top: -17px; height: 34px; background: url(skins/images/arrow_grey_right.png) no-repeat 0 center;}
#dc_jqaccordion_widget-7-item ul a.dcjq-parent.active .dcjq-icon {background: url(skins/images/arrow_grey_down.png) no-repeat 0 center;}
#dc_jqaccordion_widget-7-item ul.sub-menu a:hover {background: #fff; color: #990000;}
#dc_jqaccordion_widget-7-item ul.sub-menu a {background: transparent;border: 1px transparent solid;}
#dc_jqaccordion_widget-7-item ul.sub-menu a.active {background: #fff; color: #990000;}
